/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

* {
  font-family: 'Gellix';
}

code .token.attr-name {
  color: #f8c555;
}

a > code {
    font-weight: bold !important;
}

.home .hero img
  max-width 450px!important

a code {
  font-weight: bold !important;
}