/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

* {
  font-family: 'Gellix';
}

code {
  font-size: .8rem !important;
}

.token {
  font-size: .8rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

code .token.attr-name {
  color: #f8c555;
}
dt,
a > code {
    font-weight: bold !important;
}

.home .hero img
  max-width 450px!important
