/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

@font-face
    font-family "Gellix"
    src url("/developer-portal/assets/fonts/Gellix-Light.eot")
    src url("/developer-portal/assets/fonts/Gellix-Light.woff2") format("woff2"),
    url("/developer-portal/assets/fonts/Gellix-Light.woff") format("woff"),
    url("/developer-portal/assets/fonts/Gellix-Light.ttf") format("truetype"),
    url("/developer-portal/assets/fonts/Gellix-Light.svg#Gellix-Light") format("svg"),
    url("/developer-portal/assets/fonts/Gellix-Light.eot?#iefix") format("embedded-opentype")
    font-weight 200
    font-style normal

@font-face
    font-family "Gellix"
    src url("/developer-portal/assets/fonts/Gellix-Regular.eot")
    src url("/developer-portal/assets/fonts/Gellix-Regular.woff2") format("woff2"),
    url("/developer-portal/assets/fonts/Gellix-Regular.woff") format("woff"),
    url("/developer-portal/assets/fonts/Gellix-Regular.ttf") format("truetype"),
    url("/developer-portal/assets/fonts/Gellix-Regular.svg#Gellix-Regular") format("svg"),
    url("/developer-portal/assets/fonts/Gellix-Regular.eot?#iefix") format("embedded-opentype")
    font-weight normal
    font-style normal

@font-face
    font-family "Gellix"
    src url("/developer-portal/assets/fonts/Gellix-Medium.eot")
    src url("/developer-portal/assets/fonts/Gellix-Medium.woff2") format("woff2"),
    url("/developer-portal/assets/fonts/Gellix-Medium.woff") format("woff"),
    url("/developer-portal/assets/fonts/Gellix-Medium.ttf") format("truetype"),
    url("/developer-portal/assets/fonts/Gellix-Medium.svg#Gellix-Medium") format("svg"),
    url("/developer-portal/assets/fonts/Gellix-Medium.eot?#iefix") format("embedded-opentype")
    font-weight 500
    font-style normal

@font-face
    font-family "Gellix"
    src url("/developer-portal/assets/fonts/Gellix-SemiBold.eot")
    src url("/developer-portal/assets/fonts/Gellix-SemiBold.woff2") format("woff2"),
    url("/developer-portal/assets/fonts/Gellix-SemiBold.woff") format("woff"),
    url("/developer-portal/assets/fonts/Gellix-SemiBold.ttf") format("truetype"),
    url("/developer-portal/assets/fonts/Gellix-SemiBold.svg#Gellix-SemiBold") format("svg"),
    url("/developer-portal/assets/fonts/Gellix-SemiBold.eot?#iefix") format("embedded-opentype")
    font-weight 600
    font-style normal

@font-face
    font-family "Gellix"
    src url("/developer-portal/assets/fonts/Gellix-Bold.eot")
    src url("/developer-portal/assets/fonts/Gellix-Bold.woff2") format("woff2"),
    url("/developer-portal/assets/fonts/Gellix-Bold.woff") format("woff"),
    url("/developer-portal/assets/fonts/Gellix-Bold.ttf") format("truetype"),
    url("/developer-portal/assets/fonts/Gellix-Bold.svg#Gellix-Bold") format("svg"),
    url("/developer-portal/assets/fonts/Gellix-Bold.eot?#iefix") format("embedded-opentype")
    font-weight bold
    font-style normal

$accentColor = #000
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34