# Verification

Use the [verification](../verification/create) endpoint to verify the transaction and to do 3D Secure. 

[Update](./update) the card token with the verification information.